In [1]:
import numpy as np 
import pandas as pd

#### Load spotify data

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-01-21/spotify_songs.csv')
data.iloc[:, :7].head(3)

,track_id,track_name,track_artist,track_popularity,track_album_id,track_album_name,track_album_release_date
0,6f807x0ima9a1j3VPbc7VN,I Don't Care (with Justin Bieber) - Loud Luxur...,Ed Sheeran,66,2oCs0DGTsRO98Gh5ZSl2Cx,I Don't Care (with Justin Bieber) [Loud Luxury...,2019-06-14
1,0r7CVbZTWZgbTCYdfa2P31,Memories - Dillon Francis Remix,Maroon 5,67,63rPSO264uRjW1X5E6cWv6,Memories (Dillon Francis Remix),2019-12-13
2,1z1Hg7Vb0AhHDiEmnDE79l,All the Time - Don Diablo Remix,Zara Larsson,70,1HoSmj2eLcsrR0vE9gThr4,All the Time (Don Diablo Remix),2019-07-05

In [3]:
data.shape

(32833, 23)

In [4]:
data.columns

Index(['track_id', 'track_name', 'track_artist', 'track_popularity',
       'track_album_id', 'track_album_name', 'track_album_release_date',
       'playlist_name', 'playlist_id', 'playlist_genre', 'playlist_subgenre',
       'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness',
       'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo',
       'duration_ms'],
      dtype='object')

# Normalization

In [5]:
#create track
track = data[['track_id', 'track_artist', 'track_popularity', 'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness',
       'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo',
       'duration_ms']].drop_duplicates()
track

,track_id,track_artist,track_popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms
0,6f807x0ima9a1j3VPbc7VN,Ed Sheeran,66,0.748,0.916,6,-2.634,1,0.0583,0.102000,0.000000,0.0653,0.5180,122.036,194754
1,0r7CVbZTWZgbTCYdfa2P31,Maroon 5,67,0.726,0.815,11,-4.969,1,0.0373,0.072400,0.004210,0.3570,0.6930,99.972,162600
2,1z1Hg7Vb0AhHDiEmnDE79l,Zara Larsson,70,0.675,0.931,1,-3.432,0,0.0742,0.079400,0.000023,0.1100,0.6130,124.008,176616
3,75FpbthrwQmzHlBJLuGdC7,The Chainsmokers,60,0.718,0.930,7,-3.778,1,0.1020,0.028700,0.000009,0.2040,0.2770,121.956,169093
4,1e8PAfcKUYoKkxPhrHqw4x,Lewis Capaldi,69,0.650,0.833,1,-4.672,1,0.0359,0.080300,0.000000,0.0833,0.7250,123.976,189052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32828,7bxnKAamR3snQ1VGLuVfC1,Lush & Simon,42,0.428,0.922,2,-1.814,1,0.0936,0.076600,0.000000,0.0668,0.2100,128.170,204375
32829,5Aevni09Em4575077nkWHz,Tegan and Sara,20,0.522,0.786,0,-4.462,1,0.0420,0.001710,0.004270,0.3750,0.4000,128.041,353120
32830,7ImMqPP3Q1yfUHvsdn7wEo,Starkillers,14,0.529,0.821,6,-4.899,0,0.0481,0.108000,0.000001,0.1500,0.4360,127.989,210112
32831,2m69mhnfQ1Oq6lGtXuYhgX,Mat Zo,15,0.626,0.888,2,-3.361,1,0.1090,0.007920,0.127000,0.3430,0.3080,128.008,367432
32832,29zWqhca3zt5NsckZqDf6c,Julian Calor,27,0.603,0.884,5,-4.571,0,0.0385,0.000133,0.341000,0.7420,0.0894,127.984,337500

In [6]:
#check primary key 
print(f'Table has {track.shape[0]} rows and there are {len(track.track_id.unique())} unique track ids.')

Table has 28356 rows and there are 28356 unique track ids.

Since knowing the track name, we may guess who the artist is. So,  it is a violation of the 3rd Normal From. Therefore, a new table with track_id and track_name is created.

In [7]:
track_name = data[['track_id', 'track_name']].drop_duplicates()
track_name

,track_id,track_name
0,6f807x0ima9a1j3VPbc7VN,I Don't Care (with Justin Bieber) - Loud Luxur...
1,0r7CVbZTWZgbTCYdfa2P31,Memories - Dillon Francis Remix
2,1z1Hg7Vb0AhHDiEmnDE79l,All the Time - Don Diablo Remix
3,75FpbthrwQmzHlBJLuGdC7,Call You Mine - Keanu Silva Remix
4,1e8PAfcKUYoKkxPhrHqw4x,Someone You Loved - Future Humans Remix
...,...,...
32828,7bxnKAamR3snQ1VGLuVfC1,City Of Lights - Official Radio Edit
32829,5Aevni09Em4575077nkWHz,Closer - Sultan & Ned Shepard Remix
32830,7ImMqPP3Q1yfUHvsdn7wEo,Sweet Surrender - Radio Edit
32831,2m69mhnfQ1Oq6lGtXuYhgX,Only For You - Maor Levi Remix
32832,29zWqhca3zt5NsckZqDf6c,Typhoon - Original Mix

Similarly, knowing the name of an album, it is possible to know when it's released. Therefore, I will separate those tables.

In [8]:
album = data.iloc[:, [4,6]].drop_duplicates()
album

               track_album_id track_album_release_date
0      2oCs0DGTsRO98Gh5ZSl2Cx               2019-06-14
1      63rPSO264uRjW1X5E6cWv6               2019-12-13
2      1HoSmj2eLcsrR0vE9gThr4               2019-07-05
3      1nqYsOef1yKKuGOVchbsk6               2019-07-19
4      7m7vv9wlQ4i0LFuJiE2zsQ               2019-03-05
...                       ...                      ...
32828  2azRoBBWEEEYhqV6sb7JrT               2014-04-28
32829  6kD6KLxj7s8eCE3ABvAyf5               2013-03-08
32830  0ltWNSY9JgxoIZO4VzuCa6               2014-04-21
32831  1fGrOkHnHJcStl14zNx8Jy               2014-01-01
32832  0X3mUOm6MhxR7PzxG95rAo               2014-03-03

[22545 rows x 2 columns]

In [9]:
album_name = data.iloc[:, [4,5]].drop_duplicates()
album_name

,track_album_id,track_album_name
0,2oCs0DGTsRO98Gh5ZSl2Cx,I Don't Care (with Justin Bieber) [Loud Luxury...
1,63rPSO264uRjW1X5E6cWv6,Memories (Dillon Francis Remix)
2,1HoSmj2eLcsrR0vE9gThr4,All the Time (Don Diablo Remix)
3,1nqYsOef1yKKuGOVchbsk6,Call You Mine - The Remixes
4,7m7vv9wlQ4i0LFuJiE2zsQ,Someone You Loved (Future Humans Remix)
...,...,...
32828,2azRoBBWEEEYhqV6sb7JrT,City Of Lights (Vocal Mix)
32829,6kD6KLxj7s8eCE3ABvAyf5,Closer Remixed
32830,0ltWNSY9JgxoIZO4VzuCa6,Sweet Surrender (Radio Edit)
32831,1fGrOkHnHJcStl14zNx8Jy,Only For You (Remixes)
32832,0X3mUOm6MhxR7PzxG95rAo,Typhoon/Storm

In [10]:
playlist = data.iloc[:, 8:11].drop_duplicates()
playlist

                  playlist_id playlist_genre          playlist_subgenre
0      37i9dQZF1DXcZDD7cfEKhW            pop                  dance pop
70     37i9dQZF1DWZQaaqNMbbXa            pop                  dance pop
167    37i9dQZF1DX2ENAPP1Tyed            pop                  dance pop
223    37i9dQZF1DWSJHnPb1f0X3            pop                  dance pop
272    37i9dQZF1DX6pH08wMhkaI            pop                  dance pop
...                       ...            ...                        ...
32409  0FCHg9zJMNNiOokh3hVcxd            edm  progressive electro house
32504  73uj4YmsC7SJ6SbUMTvf07            edm  progressive electro house
32582  29jj7pQlDqnWclbHQk21Rq            edm  progressive electro house
32674  4N1ipiKR3xla8UXtE12XBm            edm  progressive electro house
32753  6jI1gFr6ANFtT8MmTvA2Ux            edm  progressive electro house

[480 rows x 3 columns]

In [11]:
#check if primary key is a valid key
print(f'Table has {playlist.shape[0]} rows and there are {len(playlist.playlist_id.unique())} unique track ids.')

Table has 480 rows and there are 471 unique track ids.

In [12]:
playlist[['playlist_id', 'playlist_subgenre']].drop_duplicates().shape

(480, 2)

Given the name of a playlist, it is possible to figure out its genre. Therefore, I will separate those tables.

In [13]:
playlist_name = data.iloc[:, 7:9].drop_duplicates()
playlist_name

,playlist_name,playlist_id
0,Pop Remix,37i9dQZF1DXcZDD7cfEKhW
70,Dance Pop,37i9dQZF1DWZQaaqNMbbXa
167,Dance Room,37i9dQZF1DX2ENAPP1Tyed
223,Cardio,37i9dQZF1DWSJHnPb1f0X3
272,Dance Pop Hits,37i9dQZF1DX6pH08wMhkaI
...,...,...
32409,Fresh EDM | Progressive House | Electro House ...,0FCHg9zJMNNiOokh3hVcxd
32504,"Festival Music 2019 - Warm Up Music (EDM, Big ...",73uj4YmsC7SJ6SbUMTvf07
32582,Underground Party | Hypnotic | Minimal | Acid ...,29jj7pQlDqnWclbHQk21Rq
32674,Trending EDM by Nik Cooper,4N1ipiKR3xla8UXtE12XBm
32753,♥ EDM LOVE 2020,6jI1gFr6ANFtT8MmTvA2Ux

Now, we will need to create tables that would link them.

Since track can be in many albums and album can have many tracks, there is many to many relationship. So, the table with both ids needs to be created.

In [14]:
len(playlist_name.playlist_name.unique())

449

In [15]:
track_album = data[['track_id', 'track_album_id']].drop_duplicates()
track_album

                     track_id          track_album_id
0      6f807x0ima9a1j3VPbc7VN  2oCs0DGTsRO98Gh5ZSl2Cx
1      0r7CVbZTWZgbTCYdfa2P31  63rPSO264uRjW1X5E6cWv6
2      1z1Hg7Vb0AhHDiEmnDE79l  1HoSmj2eLcsrR0vE9gThr4
3      75FpbthrwQmzHlBJLuGdC7  1nqYsOef1yKKuGOVchbsk6
4      1e8PAfcKUYoKkxPhrHqw4x  7m7vv9wlQ4i0LFuJiE2zsQ
...                       ...                     ...
32828  7bxnKAamR3snQ1VGLuVfC1  2azRoBBWEEEYhqV6sb7JrT
32829  5Aevni09Em4575077nkWHz  6kD6KLxj7s8eCE3ABvAyf5
32830  7ImMqPP3Q1yfUHvsdn7wEo  0ltWNSY9JgxoIZO4VzuCa6
32831  2m69mhnfQ1Oq6lGtXuYhgX  1fGrOkHnHJcStl14zNx8Jy
32832  29zWqhca3zt5NsckZqDf6c  0X3mUOm6MhxR7PzxG95rAo

[28356 rows x 2 columns]

Similarly, a track can be in multiple playlists and a playlist can have multiple tracks. Therefore, there is many to many relationship, and table with thier ids to link these tables is created.

In [16]:
track_playlist = data[['track_id', 'playlist_id']].drop_duplicates()
track_playlist

                     track_id             playlist_id
0      6f807x0ima9a1j3VPbc7VN  37i9dQZF1DXcZDD7cfEKhW
1      0r7CVbZTWZgbTCYdfa2P31  37i9dQZF1DXcZDD7cfEKhW
2      1z1Hg7Vb0AhHDiEmnDE79l  37i9dQZF1DXcZDD7cfEKhW
3      75FpbthrwQmzHlBJLuGdC7  37i9dQZF1DXcZDD7cfEKhW
4      1e8PAfcKUYoKkxPhrHqw4x  37i9dQZF1DXcZDD7cfEKhW
...                       ...                     ...
32828  7bxnKAamR3snQ1VGLuVfC1  6jI1gFr6ANFtT8MmTvA2Ux
32829  5Aevni09Em4575077nkWHz  6jI1gFr6ANFtT8MmTvA2Ux
32830  7ImMqPP3Q1yfUHvsdn7wEo  6jI1gFr6ANFtT8MmTvA2Ux
32831  2m69mhnfQ1Oq6lGtXuYhgX  6jI1gFr6ANFtT8MmTvA2Ux
32832  29zWqhca3zt5NsckZqDf6c  6jI1gFr6ANFtT8MmTvA2Ux

[32251 rows x 2 columns]

Lastly, we will create table that links album and playlist tables.

In [17]:
album_playlist = data[['track_album_id', 'playlist_id']].drop_duplicates()
album_playlist

               track_album_id             playlist_id
0      2oCs0DGTsRO98Gh5ZSl2Cx  37i9dQZF1DXcZDD7cfEKhW
1      63rPSO264uRjW1X5E6cWv6  37i9dQZF1DXcZDD7cfEKhW
2      1HoSmj2eLcsrR0vE9gThr4  37i9dQZF1DXcZDD7cfEKhW
3      1nqYsOef1yKKuGOVchbsk6  37i9dQZF1DXcZDD7cfEKhW
4      7m7vv9wlQ4i0LFuJiE2zsQ  37i9dQZF1DXcZDD7cfEKhW
...                       ...                     ...
32828  2azRoBBWEEEYhqV6sb7JrT  6jI1gFr6ANFtT8MmTvA2Ux
32829  6kD6KLxj7s8eCE3ABvAyf5  6jI1gFr6ANFtT8MmTvA2Ux
32830  0ltWNSY9JgxoIZO4VzuCa6  6jI1gFr6ANFtT8MmTvA2Ux
32831  1fGrOkHnHJcStl14zNx8Jy  6jI1gFr6ANFtT8MmTvA2Ux
32832  0X3mUOm6MhxR7PzxG95rAo  6jI1gFr6ANFtT8MmTvA2Ux

[28010 rows x 2 columns]

# Create a SQLite3 schema

In [ ]:
track.to_sql

In [18]:
import sqlite3

In [19]:
conn = sqlite3.connect('spotify_new.db')
c = conn.cursor()

In [20]:
tables = [track, track_name, album, album_name, playlist_name, playlist, track_album, track_playlist, album_playlist]
tables_names = ['track', 'track_name', 'album', 'album_name', 'playlist_name', 'playlist', 'track_album', 'track_playlist', 'album_playlist']

In [21]:
for i, df in enumerate(tables):
    df.to_sql(tables_names[i], con = conn, index = False, if_exists='replace' )

In [22]:
c.execute(  
"""
SELECT name
FROM sqlite_master
WHERE type = 'table'
""")

In [23]:
#list the names of the tables in the databse
c.fetchall()

[('track',),
 ('track_name',),
 ('album',),
 ('album_name',),
 ('playlist_name',),
 ('playlist',),
 ('track_album',),
 ('track_playlist',),
 ('album_playlist',)]

In [24]:
#create ER
import os 
from eralchemy import render_er

render_er('sqlite:///spotify_new.db', 'spotify_er.png', mode = 'graph')

# Use an SQL query to find the names of all playlists that contain instrumentals

In [35]:
from pandas import DataFrame

In [41]:
conn = sqlite3.connect('spotify_new.db')
c = conn.cursor()

In [46]:
c.execute ("""
SELECT COUNT(DISTINCT playlist_name)
FROM playlist_name AS p 
JOIN track_playlist AS tp
    ON p.playlist_id = tp.playlist_id
JOIN track AS t
    ON tp.track_id = t.track_id
WHERE t.instrumentalness > 0.5
""")

256 unique playlists contain instrumentals, where instrumental means that the song has no vocals and has above 0.5 in `instrumentalness` column.

In [47]:
DataFrame(c.fetchall())

     0
0  256

In [48]:

c.execute ("""
SELECT DISTINCT playlist_name
FROM playlist_name AS p 
JOIN track_playlist AS tp
    ON p.playlist_id = tp.playlist_id
JOIN track AS t
    ON tp.track_id = t.track_id
WHERE t.instrumentalness > 0.5
ORDER BY playlist_name 
LIMIT 10
""")

A sample of 10 playlists with instrumentals.

In [49]:
playlists_inst = DataFrame(c.fetchall(), columns = ['Playlist Name'])
playlists_inst

                                    Playlist Name
0                                "Permanent Wave"
1                                   10er Playlist
2                                2000's hard rock
3                                 2011-2014 House
4                         2019 in Indie Poptimism
5  2020 Hits & 2019  Hits – Top Global Tracks 🔥🔥🔥
6                              3rd Coast Classics
7                               70's Classic Rock
8                                   70s Hard Rock
9             70s Pop & Rock Hits and Deep Tracks

In [50]:
c.execute("""
SELECT playlist_name, track_name,instrumentalness
FROM track AS t 
LEFT JOIN track_name as tn
    ON t.track_id = tn.track_id
LEFT JOIN track_playlist as tp
    ON tp.track_id = t.track_id 
LEFT JOIN playlist_name AS pn 
    ON pn.playlist_id = tp.playlist_id
WHERE playlist_name LIKE '70s Hard Rock'
ORDER BY instrumentalness DESC
LIMIT 10
""")

Let's pick one of the playlists (`70s Hard Rock`) and look at the `instrumentalness` of several of their tracks.

In [51]:
hardrock = pd.DataFrame(c.fetchall(), columns = ['Playlist Name', 'Track', 'Instrumentalness'])
hardrock

,Playlist Name,Track,Instrumentalness
0,70s Hard Rock,Majestic,0.923
1,70s Hard Rock,Won't Get Fooled Again - Original Album Version,0.867
2,70s Hard Rock,Parasite,0.798
3,70s Hard Rock,Chinatown,0.744
4,70s Hard Rock,Lights Out - 2008 Remastered Version,0.731
5,70s Hard Rock,Heartbreaker,0.707
6,70s Hard Rock,Rockin' All Over The World,0.491
7,70s Hard Rock,Get It On,0.478
8,70s Hard Rock,Immigrant Song - 1990 Remaster,0.478
9,70s Hard Rock,Just Got Paid,0.426

Indeed, several tracks score high in `instrumentalness`. For example, the Majestic song is majestically instrumental!

In [52]:
conn.close()